.topo{
    width: 100%;
    background-color: #fff;
    max-height: 10vh;
}
.topo_container{
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}
.img_logo{
    width: 100px;
    height: 100px;
}
.btn{
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #B2987D;
    border-radius: 25px;
    background-color: #fff;
}
